{{!-- content box --}}
<div class="d-flex justify-content-center">
  {{!-- card for post --}}
  <div id="post-card" class="col-10 border border-dark shadow mt-3 mb-3 rounded">
      <div class="d-flex justify-content-between align-items-center flex-wrap" id="post-title">
        <h3 class="col-8 ps-1">
        {{singlePost.title}}
        </h3>
          <p id="post-username" class="text-center ps-2 pt-1 pe-3">
          Posted by {{singlePost.User.username}} on {{format_date singlePost.updatedAt}}
          </p>
      </div>
    <p id="post-body" class="ps-3 pt-3">
      {{singlePost.body}}
    </p>
  </div>
</div>
<div class="d-flex justify-content-center">
    <h2>Comments</h2>
</div>
{{!-- comments rendered below on cards --}}
{{#each singlePost.Comments as |comment|}}
<div class="d-flex justify-content-center mb-2">
  <div id="post-card" class="col-10 border border-dark shadow mb-1 rounded">
    <p id="post-body" class="ps-3 pe-3 pt-4">
      {{comment.body}}
    </p>
    <p id="post-username" class="text-end pe-5">
      --{{comment.User.username}}
    </p>
    <p id="post-date" class="text-end pe-5">
      {{format_date comment.createdAt}}
    </p>
  </div>
</div>
{{/each}}
{{!-- if user is logged in, render comment form --}}
{{#if logged_in}}
  <form id="new-comment-form" class="d-flex flex-column justify-content-center align-items-center mt-5">
    {{!-- used to associate comment to Post --}}
    <input type="hidden" name="post-id" value={{singlePost.id}}>
    <div id="post-card" class="col-10 border border-dark shadow rounded">
    <div class="d-flex justify-content-between align-items-center mb-4" id="post-title">
      <h3 class="p-1 col-8">New Comment</h3>
    </div>
    <div class="d-flex flex-column align-items-center">
        <textarea class="ms-2 me-2" id="comment-box" name="comment-body" placeholder="Type your comment here."></textarea>
        <br>
        <input class="rounded mt-2 mb-2" type="submit" value="Submit">
    </div>
  </div>
  </form>
    {{else}}
    {{!-- if not logged in, render login link --}}
    <div class="d-flex justify-content-center">
        <a id="login" href="/login">Log In to Comment</a>
    </div>
{{/if}}
{{!-- if user is logged in, add comment js --}}
{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}